/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/

.header {
	text-align: center;
	border: #000000 1px solid;
	margin: 30px;
}

.main {
    display: grid; 
	grid-template-columns: 20% 60% 20% ;
	height: 200px;
	margin: 30px;

}
.box {
	border: #000000 1px solid;
	margin: 30px
	
}