/** Not allowed to change this initial CSS code **/
body {
    background: url(../img/12_col.gif) center top repeat-y;
    background-size: 90%;
}
/*************************************************/
 
.wrapper {
display: grid;
height: 20vw;
grid-template-rows: repeat(4, 1fr);
margin-left: 5%;
margin-right: 5%;
width: 90%;
}
 
.header {
    margin: 1%;
    text-align: center;
    border: #000000 3px solid;
	height: 20vw;
}
 
.boxcontainer{
    display: grid;
    grid-template-columns: 20% auto 20%;
	height: 20vw;
}
 
.box {
    border: #000000 3px solid;
    margin: 1%;
}
 
.boxcontainer2{
	display: grid;
	grid-template-columns: 75% 25%;
	height: 20vw;
	
} 

.content{
    border: #000000 3px solid;
    margin: 1%;
    display: grid;
    
}
 
.sidebar{
    border: #000000 3px solid;
    margin: 1%;
    display: grid;

}
 
footer{
	display: grid;
	grid-template-columns: 24% auto auto 24%;
    margin: 1%;
	column-gap: 10vw;
    border: #000000 3px solid;
	padding: 5vw;
	height: 20vw;
}
 
.f {
    border: #000000 3px solid;
}

/*Mobile screens*/
@media screen and (max-width: 400px) {   
   .wrapper {
    display: grid;
    grid-template-rows: 50% 50%;
	height: 20vw; }
    
   }

