/** Not allowed to change this initial CSS code **/
body {
    background: url(../img/12_col.gif) center top repeat-y;
    background-size: 90%;
}
/*************************************************/
 
.wrapper {
display: grid;
height: 90vw;
grid-template-rows: repeat(4, 1fr);
grid-template-columns: repeat (4, 1fr);
row-gap: 3%;
width: 88vw;
margin: 0 auto; 
}
 
.header {
    text-align: center;
    border: #000000 3px solid;
}
 
.boxcontainer{
    display: grid;
    grid-template-columns: 20% auto 20%;
    column-gap: 3%;
}
 
.box {
    border: #000000 3px solid;
}
 
.main{
    display:grid;
    grid-template-columns: 75% auto; 
    column-gap: 3%;   
}
 
.content{
    border: #000000 3px solid;
    display: grid;
   
}
 
.sidebar{
    border: #000000 3px solid;
    display: grid;
 
}
 
footer{
    display: grid;
    grid-template-columns: 24% auto auto 24%;
    column-gap: 1%;
    border: #000000 3px solid;
    padding: 1%;
}
 
.f {
    border: #000000 3px solid;
}
 
/*Mobile screens*/
@media screen and (max-width: 400px) {  
  
   .footer {grid-area: f;}
   footer {
  display: grid;
  grid-template-areas:
    "f1"
    "f2"
    "f3"
    "f4";
}
 
   }