/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/

.header {
	text-align: center;
	border: #000000 1px solid;
}

.main {
    display: grid; 
	grid-template-columns: 20% 56% 20% ;
	height: 25%;
	column-gap: 2%;
}

.box {
	border: #000000 1px solid;
}

.wrapper {
margin: 40px;
display: grid;
border: #000000 1px solid;
}