/** Not allowed to change this initial CSS code **/
body {
    background: url(../img/12_col.gif) center top repeat-y;
    background-size: 90%;
}
/*************************************************/
 
.wrapper {
display: grid;
height: 90vw;
grid-template-rows: repeat(4, 1fr);
row-gap: 3%;
width: 90vw;
}
 
.header {
    text-align: center;
    border: #000000 3px solid;
}
 
 
.boxcontainer{
    display: grid;
    grid-template-columns: 20% auto 20%;
}
 
.box {
    border: #000000 3px solid;
}
 
.main{
    display:grid;
    grid-template-columns: 75% auto;    
}
 
.content{
    border: #000000 3px solid;
    display: grid;
   
}
 
.sidebar{
    border: #000000 3px solid;
    display: grid;
 
}
 
footer{
    display: grid;
    grid-template-columns: 24% auto auto 24%;
    column-gap: 1%;
    border: #000000 3px solid;
    padding: 1%;
}
 
.f {
    border: #000000 3px solid;
}
 
/*Mobile screens*/
@media screen and (max-width: 400px) {  
   .wrapper {
    display: grid;
    grid-template-rows: 50% 50%; }
 
   }