/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/

.header {
	text-align: center;
	padding: 1em;
	border: #000000 1px solid;
}


